<%- include('../partials/header') %>
<div>Title: <%= performance.title %> </div>
<div>Soloist: <%= performance.soloist %> </div>
<div>Concert Hall: <%= performance.concertHall %> </div>
<div>Date: <%= performance.performanceDate %> </div>
<%- include('../partials/footer') %>
